:host{
  display: block;
  width: 100%;
  padding: 0 5% 0 5%;
  margin-bottom: 10px;
}

#login-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#logged-in-container{
  display: grid;
  gap: 10px;
  grid-template-rows: 36px;
  border-radius: 8px;
  padding: 5%;
  transition: all 0.4s;
}

.photo_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-column{
  grid-template-columns: 100%;
}

.three-columns{
  grid-template-columns: var(--user-profile-pic-size) auto var(--user-profile-pic-size);
  background-color: var(--dark);
}

#logged-in-container img{
  width: var(--user-profile-pic-size);
  height: var(--user-profile-pic-size);
  border-radius: 50%;
}

#logged-in-container p{
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}
