:host {
  display: block;
  background-color: var(--background-color);
}

.card-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

app-card{
  width: 40%;
  height: 40%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
