<div class="menu-extender" (pointerdown)="changeMenuRetracted()">
  <img [src]="retracted ? 'assets/img/nav/arrow_right.svg' : 'assets/img/nav/arrow_left.svg'">
</div>

<div class="menu">
  <ul>
    <li class="nav-item" *ngFor="let val of pages">
      <a routerLink="{{val.routerLink}}">
        <div class="menu-img-wrapper">
          <img src="assets/img/nav/{{val.img}}">
        </div>
        <div class="menu-text-wrapper">
          {{val.name}}
        </div>
      </a>
    </li>
  </ul>
</div>

<app-google-login [retracted]="retracted"></app-google-login>
