<div class="filter-button" (pointerdown)="changeExtended()">
  <img src="assets/img/filter.svg" >
</div>
<div class="filter-menu">
  <div id="kind" class="filter-section">
    <span class="filter-headline">Wortart</span>
    <div #kindChecked class="checked-container"></div>
    <div #kindUnchecked class="checkbox-container">
      <div *ngFor="let val of wortarten; index as i">
        <div class="form-check" id="{{val}}" attr.placeholderfor="{{i}}">
          <input class="form-check-input" type="checkbox" value="" id="kind_box_{{val}}"
          (click)="checkboxClicked(this.kindCheckedBoxes, this.kindUncheckedBoxes, 'kind', $event)">
          <label class="form-check-label unselectable" for="kind_box_{{val}}">
            {{val}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="utilization" class="filter-section">
    <span class="filter-headline">Nutzung</span>
    <div #utilizationChecked class="checked-container"></div>
    <div #utilizationUnchecked class="checkbox-container">
      <div *ngFor="let val of nutzungen; index as i">
        <div class="form-check" id="{{val}}" attr.placeholderfor="{{i}}">
          <input class="form-check-input" type="checkbox" value="" id="utili_box_{{val}}"
                 (click)="checkboxClicked(this.utiliCheckedBoxes, this.utiliUncheckedBoxes, 'utilization', $event)">
          <label class="form-check-label unselectable" for="utili_box_{{val}}">
            {{val}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="frequency" class="filter-section">
    <span class="filter-headline">Häufigkeit</span>
    <input type="range" class="slider" value=5 min="1" max="5" id="range1" (input)="onRangeInput()" #frequencyRange>
    <p #frequencyRangeText>Alle Wörter</p>
  </div>

</div>
