<div class="filter-button" (pointerdown)="changeExtended()">
  <img src="assets/img/filter.svg" >
</div>
<div class="filter-menu">
  <div id="kind" class="filter-section">
    <span class="filter-headline">Wortart</span>
    <div #kindChecked></div>
    <div #kindUnchecked class="checkbox-container">
      <div *ngFor="let val of wortarten; index as i">
        <div class="form-check" id="{{val}}" title="{{i}}">
          <input class="form-check-input" type="checkbox" value="" id="kind_box_{{val}}}"
          (click)="kindCheckboxClicked($event)">
          <label class="form-check-label" for="kind_box_{{val}}">
            {{val}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="utilization" class="filter-section">
    <span class="filter-headline">Nutzung</span>
    <div #utilizationChecked></div>
    <div #utilizationUnchecked class="checkbox-container">
      <div *ngFor="let val of nutzungen; index as i">
        <div class="form-check" id="{{val}}" title="{{i}}">
          <input class="form-check-input" type="checkbox" value="" id="utili_box_{{val}}" (click)="utilizationCheckboxClicked($event)">
          <label class="form-check-label" for="utili_box_{{val}}">
            {{val}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="frequency" class="filter-section">
    <span class="filter-headline">Häufigkeit</span></div>
</div>
