:host{
  display: flex;
  height: 100%;
  width: 100%;
  color: white;
  flex-wrap: nowrap;
}

:host *{
  width: 100%;
  height: 100%;
}

span{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--dark);
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.selected{
  background-color: var(--secondary);
  width: 150%;
}

.create-wordlist{
  border-radius: calc(var(--wordlist-selection-height) / 10);
  margin-left: 1px;
  width: var(--wordlist-selection-height);
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--cta);
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-wordlist:hover{
  background-color: var(--cta-hover);
}

.create-wordlist img{
  margin: 0;
  width: 80%;
  height: 80%;
}

.full-width{
  flex-grow: 1 !important;
}

span + span {
  border-left: solid 2px var(--light);
}
