.wrapper{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: fit-content(100%) auto;
}

router-outlet{
  display: none;
}

.menu-retracted{
  width: 60px !important;
}


