:host {
  display: block;
  background-color: var(--background-color);
}

.card-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.3s linear;
}

.card-wrapper-on-extend{
  width: calc(100% - 300px);
}

app-wordlist-selection{
  position: absolute;
  top: 0px;
  height: var(--wordlist-selection-height);
  width: 100%;
}

.card-adding{
  background-color: var(--success);
}

.card-removing{
  background-color: var(--danger);
}
