

.user-display{
  width: 100%;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-columns: auto 50px;
  padding: 5%;
}

.logout-container{
  padding: 20%;
}

.logout-container img{
  width: 100%;
  height: 100%;
}

.username-display{
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin: 0;
  line-height: 100%;
}

*{
  margin: 0;
  color: white;
  font-family: "Open Sans";
}

.switch{
  background-color: var(--secondary);
  width: 100%;
  height: var(--switch-height);
  border-radius: 100vh;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.switch div{
  text-align: center;
  content: "";
  background-color: #161925;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: absolute;
  border-radius: 100vh;
  transition: all 0.4s cubic-bezier(.23,.3,.49,1);
}

.right{
  left: calc(100% - 70%);
}

.left{
  left: 0;
}

form{
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

label{
  font-weight: 500;
}

input{
  border: 0;
  width: 100%;
  color: white;
}

input[type="text"], input[type="password"]{
  background: var(--dark);
  border: 0;
  height: var(--login-input-height);
  border-radius: 10px;
}

.login-button-section{
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.login-button-section input{
  width: 60%;
  border-radius: 10px;
  height: var(--login-input-height);
  background-color: var(--cta);
}

.login-password-show{
  position: absolute;
  margin-left: -30px;
  display: inline-flex;
  height: var(--login-input-height);
  width: calc(var(--login-input-height) - 16px);
}

.login-password-show img{
  width: 100%;
  height: 100%;
}

.login-response{
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

.text-danger{
  color: var(--danger);
}

.text-success{
  color: var(--success);
}
