:root{
  --background-color: #AEFFA0;
  --primary: #00FF57;
  --button-size-big: 90px;
  --button-size-small: 60px;
}

html, body{
  width: 100vw;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.filter-extended{
  right: 0px;
}

.filter-retracted{
  right: -300px;
}

