:root{
  --background-color: #75C6FF;
  --primary: #23395B;
  --secondary: #3E78B2;
  --secondary-old: #406E8E;
  --dark: #161925;
  --cta: #E08E45;
  --cta-hover: #EB5E28;
  --light: #E0E0E0;
  --button-size-big: 90px;
  --button-size-small: 60px;
  --nav-item-height: 45px;
  --user-profile-pic-size: 36px;
  --switch-height: 36px;
  --danger: #FF4747;
  --success: #058ED9;
  --menu-extender-size: 36px;
  --wordlist-selection-height: 50px;
}

html, body{
  width: 100vw;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.filter-extended{
  right: 0px;
}

.filter-retracted{
  right: -300px;
}

.card-disappear{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.rotate-left-animation{
  transition: all 0.3s linear !important;;
  transform: translate(-50%, -50%) rotate(-10deg) !important;;
  margin-left: -300px !important;
}

.rotate-right-animation{
  transition: all 0.3s linear !important;;
  transform: translate(-50%, -50%) rotate(10deg) !important;;
  margin-left: 300px !important;
}
