:host{
  background-color: var(--primary);
  width: 40%;
  height: 500px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.card-inner-wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto calc(var(--button-size-big) + 30px);
}

.cardGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding: 20px;
  color: white;
  grid-template-areas:
    "word word"
    "kind synonyms"
    "utilization synonyms"
    "frequency synonyms"
    "description description";
}

.wordDisplayBack{
  grid-area: word;
}

.title{
  font-weight: 600;
  font-size: 20px;
}

.title::after{
  content: '\A';
  white-space: pre;
}

.kind{
  grid-area: kind;
}

.synonyms{
  grid-area: synonyms;
}

.utilization{
  grid-area: utilization;
}

.frequency{
  grid-area: frequency;
}

.bulletContainer{
  display: flex;
  gap: 5px;
}

.bullet{
  position: relative;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.white{
  background-color: white;
}

.grey{
  background-color: #d7d7d7;
}

.description{
  grid-area: description;
}

.wordFont{
  color: white;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.word{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.option-container{
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.option{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option div{
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000 3px solid;
  border-radius: 50%;
}

.option div img{
  width: 50%;
  height: 50%;
}

.yes{
  border-color: #F9FF00 !important;
  width: var(--button-size-big);
  height: var(--button-size-big);
}

.info{
  border-color: #00C2FF !important;
  width: var(--button-size-small);
  height: var(--button-size-small);
}

.no{
  border-color: #FF4747 !important;
  width: var(--button-size-big);
  height: var(--button-size-big);
}
